<h1>User</h1>
<!-- Form Nhap lieu-->
{% if id == None %}
   <form action="{% url 'home:users' %}" method="post">
{% else %}
  <p>testing</p>
{% endif %}
   {% csrf_token %}
   {{ form }}
   <input type="submit" value="Submit" />
</form>
<!--Bang hien thi-->
{% if list_item|length %}
<table border=1 style="width: 100%; border-collapse: collapse">
   {% for item in list_item %}
   <tr>
       <td>{{ item.username }}</td>
	   <td>{{ item.password }}</td>
	   <td>{{ item.email }}</td>
   </tr>
   {% endfor %}
</table>
{% endif %}
